<!-- Header -->
{{ partial "header.html" . }}
<!-- Loop through all posts -->
<h1>Liste</h1>
{{ $paginator := .Paginate (where .Pages "Type" "project") }}
{{ range .Paginator.Pages }}
    {{ partial "project-list-item.html" .}}
    {{ partial "project-tag-list-projecttypes.html" .}}
    {{ partial "project-tag-cloud-projecttypes.html" .}}
{{ end }}
<!-- End loop -->

<!-- Pagination -->
{{ partial "page-navigation-numbers.html" . }}
single
{{ partial "page-navigation-single.html" . }}

<!-- Footer -->
{{ partial "footer.html" . }}