{{ define "main" }}
<div class="container">
    <div class="col-12">
    <h1>Liste</h1>
    {{ $paginator := .Paginate (where .Pages "Type" "project") }}

        <div class="flex-container">
            {{ range .Paginator.Pages }}
                {{ partial "project-list-item.html" .}}
            {{ end }}
        </div>
        <!-- /.flex-container -->
    </div>

    <div class="col-12">
    {{ $pltax := i18n "programminglanguagetax" }}
    <ul>
        {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
        <li><a href="{{ "/" | relLangURL}}{{ $taxonomyname | urlize }}">{{ $taxonomyname }}</a>
            <ul>
                {{ range $key, $value := $taxonomy }}
                {{ $key }}
                <ul>
                    {{ range $value.Pages }}
                    <li><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a> </li>
                    {{ end }}
                </ul>
                {{ end }}
            </ul>
        </li>
        {{ end }}
    </ul>
    </div>
    <!-- /.col-12 -->

    {{ partial "page-navigation-numbers.html" . }}

</div>
{{ end }}
