$padding: 15px;

.container {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.main {
  margin: 40px 0;
}

.col-4 {
  padding: 0 $padding;
  width: calc(100% * (4 / 12) - (2 * #{$padding}));
}

.col-8 {
  padding: 0 $padding;
  width: calc(100% * (8 / 12) - (2 * #{$padding}));
}

.col-12 {
  padding: 0 $padding;
  width: calc(100% - (2 * #{$padding}));
}