.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  margin: 5px 5px;
  position: relative;
  width: calc(100% / 4);

  .title {
    margin-left: 50px;
  }
}

.date {
  $size: 80px;
  background-color: rgba($primary, 0.5);
  border-radius: 50%;
  color: #FFF;
  font-weight: bold;
  height: $size;
  left: -20px;
  position: absolute;
  text-align: center;
  top: -20px;
  width: $size;

  span {
    display: block;
    max-width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.image-gallery {
  .flex-item {
    width: calc(100% / 2 - 20px);
  }
}