{{ if or (.Params.applicationtypes) (.Params.programminglanguages) }}
<h3>Project Types</h3>
<ul>
    {{ if .Params.programminglanguages }}
    <li>Programming language{{ if gt (len .Params.programminglanguages) 1 }}s{{ end }}:
    {{ range $index, $director := .Params.programminglanguages }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "/de/programminglanguages/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
    </li>
    {{ end }}

    {{ if .Params.applicationtypes }}
        <li>Applicationtype{{ if gt (len .Params.applicationtypes) 1 }}s{{ end }}:
        {{ range $index, $director := .Params.applicationtypes }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "/en/applicationtypes/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
        </li>
    {{ end }}
</ul>
{{ end }}