{{ if or (.Params.platforms) (.Params.projectgroup) (.Params.responsive) (.Params.languages) (.Params.cms) (.Params.ide) (.Params.server) (.Params.applicationtypes) }}
<h3>{{ i18n "technicalfacts"}}</h3>
<ul>
    {{ if(.Params.applicationtypes) }}
    <li>
        {{ if gt (len .Params.applicationtypes) 1 }}{{ i18n "applicationtypes" }}{{ else }}{{ i18n "applicationtype" }}{{end}}:
        {{ range $index, $application := .Params.applicationtypes }}
        {{ if gt $index 0 }}, {{ end }}
        <a href="/{{ $.Site.Language }}/{{ i18n "applicationtypes"| urlize }}/{{ $application | urlize }}">{{ . }}</a>
        {{ end }}
    </li>
    {{ end }}
    {{ if .Params.programminglanguages }}
    <li>{{ if gt (len .Params.programminglanguages) 1 }}{{ i18n "programminglanguages" }}{{ else }}{{ i18n "programminglanguage" }} {{end}}:
        {{ range $index, $language := .Params.programminglanguages }}{{ if gt $index 0 }}, {{ end }}<a href="/{{ $.Site.Language }}/{{ i18n "programminglanguages2"| urlize }}/{{ $language | urlize }}">{{ . }}</a>{{ end }}
    </li>
    {{ end }}
    {{ if .Params.platforms }}
    <li>{{ if gt (len .Params.platforms) 1 }}{{ i18n "platform" }}{{ else }}{{ i18n "platforms" }}{{end}}:
        {{ range $index, $platform := .Params.platforms }}{{ if gt $index 0 }}, {{ end }}{{$platform}}{{ end }}
    </li>
    {{ end }}
    {{ if(.Params.projectgroup) }}<li>{{ i18n "projectgroup" }}: {{ .Params.projectgroup }}</li>{{end}}
    {{ if eq .Params.responsive false }}<li>{{ i18n "responsive" }}: {{ i18n "no1" }}</li>{{end}}
    {{ if eq .Params.responsive true }}<li>{{ i18n "responsive" }}: {{ i18n "yes1" }}</li>{{end}}
    {{ range $elem := (.Params.languages) }}
        <li>{{ i18n "language" }}: {{ $elem }}</li>
    {{ end }}
    {{ if(.Params.cms) }}<li>CMS: {{ .Params.cms }}</li>{{end}}
    {{ if(.Params.ide) }}<li>IDE: {{ .Params.ide }}</li>{{end}}
    {{ if(.Params.server) }}<li>Server: {{ .Params.server }}</li>{{end}}
</ul>
{{ end }}
