<div class="flex-item">
    {{ if .Params.prevew }}
    <img src="{{ .Params.preview }}" alt="{{ .Title }}">
    {{ end }}

    <h2 class="title">{{ .Title }}</h2>

    {{ with .Date }}
        <div class="date">
            <span>{{ partial "date.html" (dict "date" . "language" $.Page.Language "monate" $.Site.Data.monate) }}</span>
        </div>
    <!-- /.date -->
    {{ end }}
    <p>
    {{ .Summary | truncate 150 }}
    </p>
    <p>
        <a class="readmore" href="{{ .RelPermalink }}">{{ i18n "readon" }}</a>
    </p>
</div>
<!-- /.flex-item -->