{{ if or (.Params.client) (.Params.agency) (.Params.country) }}
<h3>Kundeninformationen</h3>
<ul>

    {{ if(.Params.client)}}
        <li>{{ i18n "client" }}:
        {{ if eq .Params.private false }}
            {{ .Params.client }}
        {{ else }}
            {{ i18n "confidential" }}
        {{ end }}
        </li>
    {{end}}
    {{ if(.Params.agency)}}
    <li>{{ i18n "agency" }}:
    {{ if eq .Params.private false }}
        {{ .Params.agency }}
    {{ else }}
        {{ i18n "confidential" }}
    {{ end }}
    </li>
    {{end}}
    {{ if(.Params.country)}}<li>{{ i18n "country" }}: {{ .Params.country }}</li>{{end}}
</ul>
{{ end }}